

.active-card {
    background-color: rgba(0, 136, 248, 0.219);
    border-color: rgba(0, 0, 255, 0.658);
}
.active-card p{
    color: rgba(0, 0, 255, 0.712);
}
.active-container{
    animation: slideLeft .8s ease-out 0s forwards;
}
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}